/* AdvisorFooter.css */

.advisorFooter {
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #ff9797;
    justify-content: space-between; /* Ensures space distribution */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5%;
    box-sizing: border-box;
  }
  
  .button {
    font-size: 1.05rem;
    padding: 14px 22px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border: 2px solid transparent; 
    color: black;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensures the container fills the width */
}

.button:hover {
    transform: scale(1.05);
    background-color: #feb0b0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

  
.inputWrapper {
  flex-grow: 1; /* Allows input wrapper to fill available space */
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 20px; /* Add horizontal margin to input wrapper for spacing */

}
  
  .sendButton {
    position: absolute;
    right: 0;
    padding: 16px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
.sendButton:hover {
  transform: scale(1.1); 
}
  
.advisorFooterInput {
  width: 100%;
  padding: 18px 16px;
  border-radius: 50px;
  border: 2px solid black;
  background-color: white;
  outline: none;
  font-size: 1rem;
}

  @media (max-width: 700px) {
    .advisorFooter {
      height: 20vh;
      flex-direction: column;
      padding: 10px 5%; /* Adjust padding for mobile */
    }
  
    .inputWrapper {
      width: 100%;
    }

    .button {
      width: 48%;
    }
    .capabilitiesButton {
      align-self: flex-start; /* Aligns the button to the left */
      margin-right: 4%; /* Ensure some gap if needed */
      margin: 0;
    }
    .feedbackButton {
      align-self: flex-end; /* Aligns the button to the right */
      margin-left: 4%; /* Ensure some gap if needed */
      margin: 0;

    }
  }