/* Capabilities.css */

.capabilitiesContainer {
    padding: 20px;
  }
  
  .contentTitle {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .capabilityItem {
    margin-bottom: 20px;
  }
  